@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  background-color: #0c2c3e;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(217, 176, 255);
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #0c2c3e;
}

html {
  scroll-behavior: smooth;
}

body{
  @apply bg-bg-dark
}

.loader {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
}

.loader:before, .loader:after {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: rgb(217, 176, 255);
animation: push_401 2s infinite linear;
}

.loader:after {
animation: none;
}

@keyframes push_401 {
0% , 50% {
  transform: translate(0 , 0%)  scale(1);
  background-color: rgb(217, 176, 255);
}

100% {
  transform: translate(0, 100%) scale(0);
  background-color: rgb(100, 61, 136);
}
}

.card-content {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(100, 61, 136);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.4s;
  border-radius: 0 10px 10px 0;
}

.card-content-hover {
  transform: rotateX(0deg);
}