*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #252525;
    width: auto;
}

header{
    margin-top: 150px;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
}

header .text{
    color: whitesmoke;
}

header .button a{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(217, 176, 255);
    font-weight: bold;
    transition: all 0.3s;
}

header .button a:hover {
    color: rgb(100, 61, 136);
    background-color: rgb(217, 176, 255);
}

main{
    height: auto;
    width: 100%;
}

.card {
  width: 80%;
  height: 600px;
  margin: 0 auto 40px;
  background-color: #24233b;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgb(73, 70, 92);
}

.top {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.circle {
  padding: 0 4px;
}

.circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.header {
    padding-top: 10px;
  margin: 15px;
  margin-top: 5px;
  border-radius: 5px;
}

#title2 {
  color: white;
  padding-left: 50px;
  font-size: 15px;
}

.code-container {
  text-align: center;
}

#code {
  width: 96%;
  height: 530px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}
#code:focus {
  outline: none !important;
}
  

footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: flex-end;
}

.rights{
    color: whitesmoke;
    width: 70%;
    padding-bottom: 20px;
}

.buttons{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

#Instagram {
    list-style: none; /* Remove default bullet points */
}

#GitHub {
    list-style: none; /* Remove default bullet points */
}

#instagram-tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

#instagram-tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

#instagram-profile {
  background: #dc1741;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #110f0f;
}

#instagram-tooltip-container:hover #instagram-tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#instagram-icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
#instagram-layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
#instagram-icon:hover #instagram-layer {
  transform: rotate(-35deg) skew(20deg);
}
#instagram-layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: all 0.3s;
}

#instagram-layer span,
.text {
  color: #e6683c;
  border-color: #e6683c;
}

#instagram-icon:hover#instagram-layer span {
  box-shadow: -1px 1px 3px #e6683c;
}

#instagram-icon:hover #instagram-layer span:nth-child(1) {
  opacity: 0.2;
}
#instagram-icon:hover #instagram-layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
#instagram-icon:hover #instagram-layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}
#instagram-icon:hover #instagram-layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
#instagram-icon:hover #instagram-layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

#instagramSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#instagram-user /*user*/ {
  display: flex;
  gap: 10px;
}
#instagram-img /*img*/ {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #e6683c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../img/insta.jpg);
  background-size: cover;
}
#instagram-name {
  font-size: 17px;
  font-weight: 700;
  color: #f5f5f5;
}
#instagram-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}
#instagram-about {
  color: #ccc;
  padding-top: 5px;
}

#github-tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}
  
#github-tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(83, 75, 75, 0.1),
    5px 5px 15px rgba(19, 18, 18, 0.86), -5px -5px 15px rgba(255, 255, 255, 0.1);
}
  
#github-profile {
  background: #393a3b;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #000000;
}
  
#github-tooltip-container:hover #github-tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
  
#github-icon {
  text-decoration: none;
  color: #050404;
  display: block;
  position: relative;
}
#github-icon #github-layer {
  width: 55px;
  height: 55px;
  border: 3px solid #111314;
  border-radius: 50%;
  transition: transform 0.3s, border 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(44, 45, 47, 0.7), 0 0 20px rgba(24, 119, 242, 0.5);
}
  
#github-icon:hover #github-layer {
  transform: rotate(-35deg) skew(20deg);
  box-shadow: 0 0 30px rgb(20, 21, 22), 0 0 40px rgba(24, 119, 242, 0.7);
}
  
#github-layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
  
#github-layer span, .text {
  color: #191a1c;
  border-color: #191a1c;
}
  
#github-icon:hover #github-layer span {
  box-shadow: -1px 1px 3px #2b3038;
}

#github-icon:hover #github-layer span:nth-child(1) {
  opacity: 0.2;
}

#github-icon:hover #github-layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

#github-icon:hover #github-layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

#github-icon:hover #github-layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

#github-icon:hover #github-layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

#githubSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #ffffff 0%,
    #aaa8a8 25%,
    #8f8d8d 50%,
    #737272 75%,
    #4e4d4d 100%
  );
}

#github-user {
  display: flex;
  gap: 10px;
}

#github-img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../img/github.png);
  background-size: cover;
}

#github-name {
  font-size: 17px;
  font-weight: 700;
  color: #fafbff;
}

#github-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fffefe;
}

@media (max-width: 768px) {
    main{
        grid-template-columns: 1fr;
    }

    .image{
        display: none;
    }

    .projects{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cards{
        flex-direction: column;
    }

    .card{
        margin-bottom: 25px;
    }
    footer{
        display: flex;
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .rights{
        width: auto;
        margin-top: 20px;
    }
    .buttons{
        width: 100%;
    }
}